/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: none;
}
button {
  background-color: #131313;
  color: #fff;
  border: none;
  outline: none;
  cursor: none;
}
:root {
  --theme-text-color: #c5b6af;
  --theme-btn-color: #ebfb1d;
}
.btn_frame {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: block;
  cursor: none;
}
html {
  font-size: 14px;
}
body {
  background-color: #000;
  color: #fff;
  font-family: "Inter", "Alumni Sans" sans-serif;
  cursor: none;
}
/* custom cursor */
.cursor_wrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 200;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursor_move {
  width: 100%;
  height: 100%;
}
.cursor {
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  width: 2rem;
  transition: all 0.4s;
  display: flex;
  position: relative;
  left: -1.2rem;
  top: -10.2rem;
}
.cursor_top {
  background-color: var(--theme-text-color);
  width: 1px;
  height: 0.5rem;
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  bottom: auto;
}

.cursor_bottom {
  background-color: var(--theme-text-color);
  width: 1px;
  height: 0.5rem;
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
  bottom: 0;
}
.cursor_left {
  background-color: var(--theme-text-color);
  width: 0.5rem;
  height: 1px;
  position: absolute;
  top: auto;
  left: 0;
  right: auto;
  bottom: auto;
}
.cursor_right {
  background-color: var(--theme-text-color);
  width: 0.5rem;
  height: 1px;
  position: absolute;
  top: auto;
  left: auto;
  right: 0;
  bottom: auto;
}
.cursor_dot {
  aspect-ratio: 1;
  border: 1px solid var(--theme-text-color);
  border-radius: 100vw;
  background-color: rgba(197, 182, 175, 0.05);
  width: 0.125rem;
}
/* cursor hover */
.cursor.hover {
  width: 4rem;
  left: -2rem;
  top: -10rem;
}
.cursor_top.hover {
  height: 0.125rem;
  background-color: #ebfb1d;
}
.cursor_bottom.hover {
  height: 0.125rem;
  background-color: #ebfb1d;
}
.cursor_left.hover {
  width: 0.125rem;
  background-color: #ebfb1d;
}
.cursor_right.hover {
  width: 0.125rem;
  background-color: #ebfb1d;
}
.cursor_dot.hover {
  width: 3.5rem;
  border-color: #ebfb1d;
  background-color: rgba(235, 251, 29, 0.2);
}
